<div class="row">
	<div class="col-xs-12 col-md-4 col-md-offset-1 text-center izquierda">
		<img src="assets/img/logo.png" id="logo">
		<h2>{{ logo_title }} <small>{{ logo_subtitle }} </small></h2>
	</div>
	<div class="col-xs-12 col-md-4 col-md-offset-1 text-center derecha">
		<p class="lead"> {{ link_intro }}</p>
		<p>
			<a ng-href= "{{ docs_link }}" target="_blank" class="btn btn-default btn-lg btn-block"> {{ docs_link_text }}  </a>
			<a ng-href= "{{ report_link }}" target="_blank" class="btn btn-default btn-lg btn-block"> {{ report_link_text }}  </a>
		</p>
	</div>
</div>